%h1 Welcome

%p This page will eventually be replaced with a genuine rails app.  Until than all I got is this sweet static page....or is it?!?!?

-form_remote_tag :url => "/site/find_address", :update => "weather_information" do
  =label_tag 'address', "Give me your city, state or zipcode and i'll give ya something back: "
  =text_field_tag 'address', params[:address]
  =submit_tag "Submit"

#weather_information